
  *{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
  }
  html {
    scroll-behavior: smooth;
    overflow-y: hidden;
    
  }
  body {
    overflow-y: auto;
  }
  
  @font-face {
    font-family: 'myFont';
    src: url('../fonts/font.otf') format('opentype');
    font-weight: normal;
    font-style: normal;
  }  
  h1 {
    font-family: 'myFont';
  }


  #ground{
    position: sticky;
    width: 100vw;
    top: 85%;
    z-index:5;
  }
  #buy-btn{
    display: absolute;
    background-color: #c4a9fc;

    /* transform: translateX(50%); */
  }
  .btn-phantom {
      background-color: #c4a9fc;
      color: white;
      font-weight: bold;
      font-size: 16px;
      border-radius: 2rem;
      /* padding: 0.5rem 1.5rem; */
      display: inline-flex;
      align-items: center;
      gap: 0.6rem;
      text-decoration: none;
      transition: background-color 0.3s ease;
      font-family: 'myFont';

    }

    .btn-phantom:hover {
      background-color: #b295f4;
      color: white;
      cursor: pointer;
    }

    .btn-phantom img {
      height: 24px;
    }

    .phantom-text {
      display: flex;
      flex-direction: column;
      line-height: 1.1;
    }

    .phantom-connect {
      font-size: 12px;
      letter-spacing: 1px;
    }

    .phantom-name {
      font-size: 16px;
    }
  #popup {
    display: none;
  }
  #popup.show {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  #popup .popup-content h3{
    font-family: "myFont";
    letter-spacing: 0.2rem;
    font-weight: 200;
    font-size: 2.5rem;
  }
  #popup .popup-content p{
    font-family: 'Comic Sans MS', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: bolder;
    font-size: 1rem;
  }
  .popup-container {
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 9999;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .popup-content {
    background-color: #FFF269;
    padding: 30px;
    border-radius: 2rem;
    text-align: center;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.3);
  }
  #popup .popup-content .btn{
    background-color: #001C87;
    outline: none;
    border: none;
    font-family: 'Comic Sans MS', sans-serif;
    letter-spacing: 0.2rem;
    font-weight: bolder;
    font-size: 1rem;
    border-radius: 30px;
  }
  .popup-container.d-none {
    display: none;
  }
  
    .nav-link, #navbar .nav-btn {
    background-color: #b76900;
    border: 6px solid #5a3400;
    font-family: 'Comic Sans MS', cursive, sans-serif;
    border-bottom: none;
    border-radius: 16px 16px 0px 0px;
    padding: 0.5rem 3rem;
    font-family: 'myFont';

    font-weight: bold;
    font-size: 1.5rem;
    transition: all 0.3s ease;
    display: inline-block;
    color: #f9d7b4 !important;
    text-decoration: none;
    
  }



  #navbar .nav-btn:hover {
    background-color: #a14e00;
    cursor: pointer;
    color: #f9d7b4;
  }
  
  #main {
     background-image: url("../img/background.png"); 
     background-size: cover; 
     background-position: top ; 
     /* background-repeat: no-repeat;  */
     /* background-attachment: fixed;  */
     display: flex;
     overflow: hidden;
  }
  #main .bg-container{
    /* background-image: url(/assets/img/rays.png); */
    background-size: cover; 
     background-position: center center; 
     background-repeat: no-repeat; 
     background-attachment: fixed; 
  }
  #main .bg-2-container{
    /* background-image: url(/assets/img/bg-2.png); */
    background-size: cover; 
     background-position: center center; 
     background-repeat: no-repeat; 
     background-attachment: fixed; 
  }

  
  #main .btn-phantom {
    background-color: #c4a9fc;
    color: white;
    font-weight: bold;
    font-size: 16px;
    border-radius: 2rem;
    padding: 0.7rem 3rem;
    display: inline-flex;
    align-items: center;
    gap: 0.6rem;
    text-decoration: none;
    transition: background-color 0.3s ease;
  }

  #main .btn-phantom:hover {
    background-color: #b295f4;
    color: white;
  }


  #ca-address{
    overflow: hidden;


  }


  #ca-address:hover{
    cursor: pointer;
  }


  #ca-address button{
    text-decoration: none;
    border: none;
    color: #000;
    background-color: transparent;
  }

  #main .btn-phantom img {
    height: 24px;
  }

  #main .phantom-text {
    display: flex;
    flex-direction: column;
    line-height: 1.1;
  }

  #main .phantom-connect {
    font-size: 12px;
    letter-spacing: 1px;
  }

  #main .phantom-name {
    font-size: 16px;
  }
  #main .terrain{
    width: 100vw;
    z-index: -1;
    scale: 1.002;
  }
  #main .middle-img {
    margin-top: -90px; 
  }
  #main .social-icon{
    width: 50px;

  }
  #main .head-container{
    position: absolute;
    width: 100vw;
  }


  #navbarNav{
    max-width: 1200px;
    margin-inline: auto;
  }
  #main .arrow-container{
    position: absolute;
    right: 0%;
    top: 10%;
    bottom: 25%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: space-between;
  }
  #main .arrow{
    width: 100px;
  }
  
  #phase-3-img{
    bottom: 10% !important;
  }

  #carrying-token{
    bottom: 12% !important;
  }

  #ca .input-box{
        font-family: 'myFont' !important;
  }

  .phase-4 .img-container {

    bottom: 12% !important;

  }
  .ca-container {
    display: flex;
    align-items: center;
    background-color: #f3e4c5;
    border: 6px solid #9ed02d;
    border-radius: 30px;
    padding: 15px 20px;
    font-family: 'Comic Sans MS', sans-serif;
    font-weight: bold;
    font-size: 1rem;
    box-shadow: 0 5px 0 #67b100;
    gap: 10px;
  }
  
  #eye-icon {
    margin-left: auto;
    width: 20px;
    height: 20px;
    cursor: pointer;
  }

  #main .content {
    height: 100vh;
    width: 100vw;
  }
  #main .content .main-img-container{
    position: absolute;
    bottom: 3%;
    z-index: -1;
  }
  #main .content .main-img-container .buy-sprint-btn{
    position: absolute;
    bottom: 20%;
    right: 20%;
    width: 20%;
  }
  #main .content .main-img-container .buy-sprint-btn:hover{
    cursor: pointer;
  }
  #main .content .master-img{
    max-height: 600px;  
    height: auto;
    width: auto;
    object-fit: contain;
    display: block;
  }
  
  #main .content .img-container{
    position: absolute;
    bottom: 15%;
  }
  #main .content .feature-img-container{
    position: absolute;
    bottom: 10%;
  }
  #main .content .sleep-img-container{
    position: absolute;
    bottom: 15%;
    left: 40%;
  }
  #main .content .cloud-img-container{
    position: absolute;
    bottom: 10%; 
  }
  #main .content .phase-one-img-container{
    position: absolute;
    bottom: 10%; 
  }

  #main .content .last-img-container{
    position: absolute;
    bottom: 25%;
    scale: 0.8;
    z-index: -1;
  }
  
  #main .img-header{
    position: absolute;
    top: 2%;
    left: 50%;
  }

  #main .content .blood-img-container{
    position: absolute;
    bottom: 1%;
   /* left: 45%; */
    z-index: -1; 
  }
  #main .content .stone-blood-img-container{
    position: absolute;
    bottom: 10%;
    left: 30%;
    z-index: -1;
  }
  
  #main .text-container {
    background-color: #7cb518;
    border-radius: 20px;
    padding: 8px;
    display: inline-flex;
    align-items: center;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.3);
  }

  #main .input-box {
    background-color: #f5e1a4;
    border-radius: 10px;
    padding: 10px 20px;
    font-family: 'Comic Neue', cursive;
    font-size: 18px;
    color: #000;
    white-space: nowrap;
  }

  #main .copy-btn {
    /* background-color: #f5e1a4;
    border: 2px solid #333; */
    border-radius: 5px;
    margin-left: 10px;
    width: 20px;
    height: 20px;
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    cursor: pointer;
  }
  #main .unity-wrapper{
    position: absolute;
    bottom: 0%;
    left: 17%;
    z-index: -1;
  }



  #why-solsprint{
    max-height: 500px;
  }

  #main .para-container{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0% 10%;
    position: absolute;
    top: 30%;

  }
  #main .para-container p{
    font-size: 16px;
  }
  #mobile{
    display: none;
  }

  @media (max-width: 768px) {
    html{
      overflow: hidden;
      /* height: 100vh !important; */

    }


    .terrain-m{
      width: 100vw;

    }
    
    #main,
    #navbar{
      display: none;
    }
     #mobile{
      display: block;
      background-image: url("../img/bg-mobile.jpeg");
      background-size: cover; 
      background-position: center center; 
      background-repeat: no-repeat; 
      background-attachment: fixed;
      width: 100vw;
      height: 100vh;
     }
     
    .popup-content {
      background-color: #53270D;
      color: #f1f1f1;
      padding: 5%;
      border-radius: 2rem;
      text-align: center;
      box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    }
    #popup .popup-content h3{
      letter-spacing: 1px;
      font-weight: bolder;
      font-size: 1.2rem;
      color: #f5e1a4;
      font-family: 'myFont';
    }
    #popup .popup-content p{
      letter-spacing: 1px;
      font-weight: bolder;

            font-size: 1rem;
      font-family: 'myFont';
    }
    #popup .popup-content .btn{
      background-color: #60B9C1;
      outline: none;
      border: 3px solid #FBE06E;
      font-family: 'Comic Sans MS', sans-serif;
      letter-spacing: 1px;
      font-weight: bolder;
      font-size: 1.25rem;
      color: #051C7D;
      font-family: 'myFont';
      border-radius: 5rem;
      padding: 0.8rem 3rem !important;
    }
    #mobile .mobile{
      position: absolute;
      bottom: 0px;
    }
    #mobile .mobile-container{
      padding-top: 20%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      max-width: 500px;
      margin-inline: auto;
    }
    #mobile .mobile-ca{
      background-color:#FCE06E ;
      font-size: 10px;
      font-weight: bolder;
      /* width: 65%; */
      display: flex;
      justify-content: space-between;
      align-items: center;
      scale: 1.5;
      border-radius: 20px;
    }
    #mobile .mobile-ca{
      border: 2px solid #222;
    }
    #mobile .mobile-ca-list{
      border-right: 2px solid #222;
      display: flex;
      justify-content: center;
      align-items: center;

    }
    #mobile .hidden-ca{
      width: 80% ;


    }
    #mobile .mobile-ca-update p{
      font-family: 'myFont';
      color: #f1f1f1;
    }
    #mobile .social-icon-m{
      display: flex;
      justify-content: space-between;
      width: 100%;
    }
    #mobile .social-icon{
      width: 80px;
    }
    #mobile .mobile-last{
      display: flex;
      justify-content: space-around;
      align-items: center;
      width: fit-content;
      position: absolute;
      bottom: 15%;
      scale: 1.5;
    }
    #mobile .mobile-last .whitepaper-m{
      background-color: #E8593A;
      color: #FDEDC3;
      border: 2px solid #5D2F0F;
      font-family: 'myFont';
      border-radius: 20px;
    }
  }

  @media (min-width: 1900px){
    #main .content .main{
      width: 100vw;
    }
    #main .content .sleep-img-container{
      left: 30%;
    }
    #main .img-header{
      position: absolute;
      top: 30%;
      left: 30%;
    }
  
    #main .content .blood-img-container{
      left: 25%;
    }

    #main .content .stone-blood-img-container{
      position: absolute;
      bottom: 10%;
      left: 15%;
      z-index: -1;
    }

  }
  @media (max-width: 1024px){

    #navbar .nav-btn {
      padding: 0.5% 4%;
      font-family: 'Comic Sans MS', cursive, sans-serif;
      font-weight: bold;
      font-size: 1.2rem;
    }
  }

  